{% extends "base/template.html" %}

{% block navbar %}
{%  include "server_manager/nav/server_manager_nav.html" %}
{% endblock %}


{% block content %}
 <div class="row">
  <div class="container">
    <div class="hero-unit center">

    {% if success == True %}
      {% include "base/alert/alert_ok.html" %}
    {% elif success == False %}
      {% include "base/alert/alert_nok.html" %}
    {% endif %}

    {% if commands.count %}
     <table class="table table-hover">
        <thead>
          <tr>
            <th>Visible</th>
            <th>System Cmd</th>
            <th>Name</th>
            <th>Command</th>
            <th>Sudo</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for command in commands %}
        <tbody>
          <tr>
            <td>{{ command.visible }}</td>
            <td>{{ command.system_cmd }}</td>
            <td>{{ command.name }}</td>
            <td><code>{{ command.command }}</code></td>
            <td>{{ command.sudo }}</td>
            <td>{{ command.title }}</td>
            {%  if not command.system_cmd %}
                <td><a href="{% url "edit_command" command.name %}" class="btn btn-warning btn-sm">Edit</a>
                <td><a href="{% url "delete_command" command.name %}" class="btn btn-danger btn-sm">Delete</a>
            {% else %}
                <td></td>
                <td></td>
             {% endif %}
          </tr>
        </tbody>
       {% endfor %}
      </table>
      <br/>
      {% endif %}
      <a class="btn btn-default" href="{% url "add_command" %}" role="button">Add Command</a>
    </div>
  </div>
</div>

{% endblock %}
